/* Portada */
.portada {
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0em;
	text-indent: 0em;
}

/* Encabezados */
.centradoH {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.125em;
	text-align: center;
	font-weight: 100;
}

.versalitasH {
	font-family: "Times New Roman", Times, serif;
	font-size: 2.25em;
}

.versalitasH2 {
	font-family: "Times New Roman", Times, serif;
	font-size: small;
}

.coleccion {
	padding-bottom: .5em;
	border-bottom: .1em solid black;
}

.autor {
	font-family: "Times New Roman", Times, serif;
	font-size: .5em;
}

.titulo {
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	margin-top: 2.5em;
}

.espacioArriba {
	margin-top: 5em;
	margin-bottom: 2em;
}

.espacioArribaChico {
	margin-top: 2.5em;
	margin-bottom: 0em;
}

/* Párrafos */
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	text-align: justify;
	line-height: 1.25em;
	margin: 0;
}

p+p {
	text-indent: 1em;
}

.izquierda {
	text-align: left;
	font-family: "Times New Roman", Times, serif;
}

.derecha {
	text-align: right;
	font-family: "Times New Roman", Times, serif;
}

.centrado {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.fce {
	font-family: Verdana, Geneva, sans-serif;
}

.isbn {
	font-weight: 200;
	font-family: Verdana, Geneva, sans-serif;
}

.sangriaAjuste {
	text-indent: 0em;
}

.fcePortadilla {
	margin-top: 6em;
	margin-bottom: 1em;
}

.sangria {
	text-indent: 1em;
}

.sup {
	font-family: "Times New Roman", Times, serif;
	font-size: .5em;
	vertical-align: 20%;
}

.formula {
	margin-top: 1em;
	margin-bottom: 1em;
}

.epigrafe {
	font-family: "Times New Roman", Times, serif;
	text-align: right;
	font-size: .75em;
	margin-bottom: .5em;
}

.epigrafeIzquierda {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: .75em;
	margin-bottom: .5em;
}

.epigrafeJustificado {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-size: .75em;
	margin-bottom: .5em;
	margin-left: 66%;
}

.epigrafeJustificado+.epigrafeJustificado {
	margin-top: -.5em;
}

.epigrafeJustificadoMedio {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-size: .75em;
	margin-bottom: .5em;
	margin-left: 50%;
}

.epigrafeJustificadoMedio+.epigrafeJustificadoMedio {
	margin-top: -.5em;
}

.epigrafeJustificadoMedio2 {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-size: .75em;
	margin-bottom: .5em;
	margin-left: 50%;
}

.epigrafeJustificadoMedio2+.epigrafeJustificadoMedio2 {
	text-indent: -1em;
	margin-left: 53%;
}

.epigrafeJustificadoLargo {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-size: .75em;
	margin-bottom: .5em;
	margin-left: 25%;
}

.estrofa {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: .9em;
	margin-bottom: 0em;
	text-indent: 0em;
	margin-left: 33.333%;
}

.posicionAbajo {
	margin-top: 90%;
}

.posicionAbajoGrupo {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
	font-size: .75em;
	margin-top: 70%;
}

.espaciosGlifo {
	margin-top: 2em;
	margin-bottom: .5em;
}

.espaciosGlifo+p {
	text-indent: 0em;
}

.sangriaLarga1 {
	text-indent: 5em;
}

.sangriaLarga2 {
	text-indent: 7em;
}

.sangriaLarga3 {
	text-indent: 9em;
}

.sangriaLarga4 {
	text-indent: 11em;
}

.parrafoCita {
	font-family: "Times New Roman", Times, serif;
	font-size: .89em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	margin-left: 1em;
	text-indent: 0em;
}

.parrafoCita+.parrafoCita {
	margin-top: -1.25em;
	text-indent: 1em;
}

.parrafoCita2 {
	font-family: "Times New Roman", Times, serif;
	font-size: .89em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	margin-left: 6em;
	text-indent: 0em;
}

.parrafoCita2+.parrafoCita2 {
	margin-top: -1em;
	text-indent: 0em;
}

.parrafoCita3 {
	font-family: "Times New Roman", Times, serif;
	font-size: .89em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	margin-left: 1em;
	text-indent: 0em;
}

.parrafoCita3+.parrafoCita3 {
	text-indent: 0em;
}

.disminuido {
	font-family: "Times New Roman", Times, serif;
	font-size: .89em;
}

.francesa {
	margin-left: 1em;
	text-indent: -1em;
}

/* Efectos en las fuentes */
.versalitas {
	font-size: x-small;
}

.italicas {
	font-style: italic;
	font-family: "Times New Roman", Times, serif; /* Esto habilita las itálicas en los dispositivos ENOS */
}

.negritas {
	font-style: bold;
	font-family: "Times New Roman", Times, serif; /* Esto habilita las negritas en los dispositivos ENOS */
}

.negritasIsbn {
	font-style: bold;
	font-family: Verdana, Geneva, sans-serif; /* Esto habilita las negritas en los dispositivos ENOS */
}

.placaContenido {
	font-family: "Times New Roman", Times, serif;
}

.placaAdolfo {
	font-family: "Times New Roman", Times, serif;
	margin-top: 1em;
	margin-bottom: 1em;
}

.placaFondo {
	font-family: "Times New Roman", Times, serif;
	margin-top: 1em;
}

.ajusteKafka {
	margin-top: -.5em;
}

.ajusteJudas {
	margin-top: -2.5em;
	margin-bottom: 2em;
}

.ajusteQuevedo {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: .75em;
	margin-bottom: .5em;
	margin-left: 25%;
	text-indent: 17em;
}

/* Otros */
a:link, a:visited {
	text-decoration: none;
	color: blue;
}

.placa {
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	text-align: center;
	line-height: .25em;
	padding: 1em;
	border: solid black .125em;
	width: 65%;
	margin-top: 2em;
	margin-left: 17.5%;
}
